.header {
    display: flex;
    align-items: center;
    padding: 10px 30px 10px 30px;
    background-color: var(--bg-card);
    box-shadow: 0 0 4px black;
}

.header-logo {
    display: flex;
    align-items: center;
    font-family: var(--font-display);
    font-size: 30px;
}

.header-lore {
    color: var(--text-primary);
}

.header-keeper {
    color: var(--primary);
}

.header-icon {
    padding: 8px;
    background-color: var(--primary);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    box-shadow: 0 0 4px var(--primary);
}